INSIGHTS:
  ID: "533394ae-9e05-4ae7-9d18-2d3e994a2264"
CI:
  DOCKER_IMAGE_NAME: "outreach-mq"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/smkoniki/umbrella-repo.git"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "outreach-mq"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"